.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*navbar styles*/

.navbar {width: 100%;
margin: 0 auto;
height: 60px;
overflow: hidden;
background-color: #000000;}

.navbar ul li {
  list-style: none;
  float: left;
  position: relative;
  bottom: 10px;
  padding-left: 30px;
}

.navbarDropped {width: 100%;
  margin: 0 auto;
  height: 60px;
  overflow: hidden;
  background-color: #000000;}
  
  .navbarDropped ul li {
    list-style: none;
    float: left;
    position: relative;
    bottom: 10px;
    padding-left: 30px;
  }

  .navItems {
    width: 100%;
    height: 200px;
    border-style: solid;
    border-color: #ffffff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #000000;
  }
  
  .navItems ul li {
    float: none;
    list-style: none;
    color: #ffffff;
  }

  .navbar ul li p {font-family: arial;
    color: #ffffff;}
    
  .navbarDropped ul li p {font-family: arial;
    color: #ffffff;}
/*the inferno logo, title and dropdown icon on one line*/

.Inferno ul li {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  visibility: hidden;
  position: relative;
  top: 2px;
  left: 2px;
}

/*for slideshow*/

.SlideShow {
  overflow: hidden;
}

.CoverPhoto {
  height: auto;
  width: 100%;
}

.CoverPhoto img {
  height: auto;
}



/*For information panel*/

.infoPanel {
  width: 100%;
  background-color: #000000;
  height: 1200px;
  overflow: hidden;
}

.topSection {
  width: 100%;
  height: 400px;
}

.introduction {
  float: left;
  max-width: 700px;
  padding-left: 100px;
  padding-top: 20px;
}

.introduction h1 {
  text-align: left;
  font-family: arial;
  color: #ffffff;
}

.introduction p {
  text-align: left;
  font-family: arial;
  color: #ffffff;
}

.ImageLotro1{
  padding-top: 20px;
}

.infologo {
  width: 100px;
  height: 100px;
}

.infologo:hover {
  width: 100px;
  height: 100px;
  opacity: 0.3;
}

.fellowship {
  padding-top: 20px;
  max-width: 550px;
  height: 300px;
}

.bottomSection {
  width: 100%;
  height: 800px;
}

.LotroVideo {
  padding-top: 100px;
  text-align: center;
  padding-right: 20px;
}

/* Footer */

.footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-bottom: hidden;
  border-left: hidden;
  border-right: hidden;
}

.footer p {
  padding-top: 50px;
  font-family: arial;
  color: white;
  text-align: left;
  position: relative;
  left: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 680px){
  .line{
    visibility: visible;
  }

  /* For navbar */

  .buttonContainer {
    width: 30px;
    height: 25px;
    position: relative;
    bottom: 5px;
  }

  .buttonContainer :hover {
    -webkit-box-shadow:0 0 10px #ffffff; 
    -moz-box-shadow: 0 0 10px #ffffff; 
    box-shadow:0 0 10px #ffffff;
  }

 

  #NavItems {
    position: relative;
    left: 0px;
  }

  /*info panel*/

  .topSection {
    width: 100%;
    height: 800px;
  }

  .bottomSection {
    width: 100%;
    height: 900px;
  }

  .introduction {
    float: left;
    max-width: 700px;
    padding-left: 30px;
    padding-top: 20px;
  }

  .fellowship {
    float: left;
    padding-top: 20px;
    max-width: 550px;
    height: 300px;
  }

 .LotroVideo{
   width: 300px;
   height: 200px;

 }

  /*footer*/

  .footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    border-style: solid;
    border-color: #ffffff;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
  }

  .footer p {
    padding-top: 50px;
    font-family: arial;
    color: white;
    text-align: center;
    position: relative;
    left: 0px;
  }


}